<!DOCTYPE html>
<html>

	<head th:replace="~{base :: head}"/>
	
	<body class="fundo">
		<div th:replace="~{base :: logo}"></div>
		
		<div class="container">
			
			<div class="card mb-3 mt-3" style="background-color: #11baac">
				<div class="mt-4 texto-login">
					<span class="login">Nova Conta</span>
				</div>
				
				<form action="#" th:action="@{/cadastro}" th:object="${novoUsuarioRequest}" class="card-body" method="POST">
					<div class="mt-2 form-group">
						<label style="color: #030303" class="texto-retro3" for="nome">Nome</label>
	                	<input th:field="*{nome}" th:errorclass="is-invalid" class="form-control" placeholder="nome completo"/>
	                	<div class="invalid-feedback" th:errors="*{nome}">
	                		Erros do nome do usuario
	                	</div>
					</div>
					<div class="mt-2 form-group">
						<label style="color: #030303" class="texto-retro3" for="username">Email</label>
	                	<input th:field="*{username}" th:errorclass="is-invalid" class="form-control" placeholder="endereço de email"/>
	                	<div class="invalid-feedback" th:errors="*{username}">
	                		Erros do email do usuario
	                	</div>
					</div>
					<div class="mt-4 form-group">
						<label style="color: #030303" class="texto-retro3" for="password">Senha</label>
	                	<input th:field="*{password}" th:errorclass="is-invalid" type="password" class="form-control" placeholder="senha de 8 dígitos"/>
	                	<div class="invalid-feedback" th:errors="*{password}">
	                		Erros da senha do usuario
	                	</div>
					</div>
					<div class="mt-4 form-group">
						<label style="color: #030303" class="texto-retro3" for="cargos">Cargo</label>
						
						<select style=" color: #706C6C;
								    font-family: 'Fira Code';
								    font-style: normal;
								    font-weight: 400;
								    font-size: 15px;
								    line-height: 15px;
								    font-weight: bold;"
								    
							th:field="*{cargo}" name="cargos" class="form-control form-select form-select-lg mb-3"
							th:errorclass="is-invalid">
							
						  <option th:each="c : ${cargos}" th:value="${c}" th:text="${c}"/>
						</select>
						<div class="invalid-feedback" th:errors="*{cargo}">
	                		Erros do combo
	                	</div>
					</div>
					<div class="botao-login">
						<div id="emailHelp" class="mt-3 texto-senha form-text">
							<button class="mt-4 Entrar" type="submit">Criar</button>
							<br>
							<br>
							<span class="texto-conta">Já tem uma conta?</span>
							<span><a href="/login">Entrar</a></span>
						</div>
					</div>
				</form>				
			</div>
		</div>
		
	</body>
</html>