<head th:fragment="head">
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/imagens/favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Fira Code' rel='stylesheet'>
	<link rel="stylesheet" href="/css/style.css">
	<title>Website Incrível</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">	
</head>

<div th:fragment="logo">
	<div class="p-3 d-flex justify-content-between">
		<span>
			<span class="titulo mt-2 ml-1">Website Incrível</span>
			<br>
			<span class="ml-5 subtitulo">Sistema que auxilia a checagem de aprendizado</span>
		</span>
		
		<span class="mt-2">
			<a th:href="@{/login}" sec:authorize="!isAuthenticated()">                  
 	        	<img class="acessar" th:src="@{/imagens/login.png}"/> 
	        </a>
			
			<a th:href="@{/home}" sec:authorize="isAuthenticated()">                  
 	        	<button type="button" class="texto-retro4 btn btn-link">Página Inicial</button> 
	        </a>
			
			<a onClick="document.querySelector('#form-login').submit()" href="#" sec:authorize="isAuthenticated()">
				<img class="acessar" th:src="@{/imagens/logout.png}"/> 
			</a>
			<form id="form-login" th:action="@{/logout}" method="post"></form>
		</span>
	</div>
</div>