<!DOCTYPE html>
<html>

	<head th:replace="~{base :: head}"/>
	
	<body class="fundo">
	
		<div th:replace="~{base :: logo}"></div>
			
		<div class="container mt-4">
			<div class="jumbotron mb-0 center">
				<h1 class="titulo2">Bem-vindo ao Website Incrível!</h1>
				<a href="/login" sec:authorize="!isAuthenticated()">                 
		        	<img class="acessar" src="/imagens/Acessar_btn.png"/>
		        </a> 
			   	<a href="/cadastro">                 
	        		<img class="acessar" src="/imagens/Cadastrar_btn.png"/>
	        	</a>
			</div>
			
			<div id="corpo" class="card mt-4 mb-3">
				<div class="row g-0">
			    	<div class="col-md-4">
			      		<img src="/imagens/img1.png" class="img-fluid rounded-start">
			    	</div>
			    	
			    	<div class="col-md-8">
			      		<div class="card-body">
			        		<h5 class="texto-retro card-title">O que é o Website Incrível?</h5>
			        		<p class="texto-retro2 card-text">
			        			Seja bem-vindo ao Website Incrível, uma plataforma educativa na qual alunos e professores podem se comunicar da melhor forma possível, com foco na criação e realização de provas online.
 								Caso seja a sua primeira vez aqui, cadastre-se para obter acesso ao nosso portal como aluno ou professor, e desfrute de todas as funcionalidades!
			        		</p>
			      		</div>
			    	</div>
			  	</div>
			</div>	
		</div>
			
		<footer class="texto-retro footer navbar-fixed-bottom">Todos os direitos reservados</footer>
	</body>
</html>