<!DOCTYPE html>
<html>
	<head th:replace="~{base :: head}"/>
	
	<body class="fundo">
		<div th:replace="~{base :: logo}"></div>
		
		<div class="container mt-5" >
			<div class="card mb-3 mt-3" style="background-color: #F25A70">
				<div class="mt-4 texto-login">
					<span class="login">Login</span>
				</div>
				
				<form th:action="@{/login}" class="card-body" method="post">
					<div class="mt-2 form-group">
						<label style="color: #030303" class="texto-retro3" for="username">Email</label>
	                	<input name="username" class="form-control" placeholder="endereço de email"/>
	                	
					</div>
					<div class="mt-4 form-group">
						<label style="color: #030303" class="texto-retro3" for="password">Senha</label>
	                	<input type="password" name="password" class="form-control" placeholder="senha de 8 dígitos"/>
	                	<div id="emailHelp" class="mt-2 texto-senha form-text"><a href="/recuperar">Esqueceu sua senha?</a></div>
					</div>
					<div class="botao-login">
						<button class="mt-4 Entrar" type="submit">Entrar</button>
						<div id="emailHelp" class="mt-3 texto-senha form-text">
							<span class="texto-conta">Não tem uma conta?</span>
							<span><a href="/cadastro">Criar</a></span>
						</div>
					</div>
				</form>				
			</div>
		</div>
		
		<footer class="texto-retro footer navbar-fixed-bottom">Todos os direitos reservados</footer> 
	</body>
</html>