<!DOCTYPE html>
<html>

<head th:replace="~{base :: head}"/>

<body class="fundo">
	<div th:replace="~{base :: logo}"></div>
	
	<div class="container mt-5" >
		<div class="card mb-3 mt-3" style="background-color: #F25A70">
			
				<div class="mt-2 texto-login">
					<button class="mt-4 Sucesso">Cadastro Realizado com sucesso!</button>
				</div>
				
			<div class="card-body">
				<div class="mt-4 form-group">
					<span class="texto-retro5">- Confira as informações criadas:</span>
				</div>
			
				<div class="mt-4 form-group">
					<span class="texto-retro3">Nome </span>
					<br>
					<span class="texto-retro4" th:text="${novoUsuarioRequest.nome}"></span>
				</div>
				
				<div class="mt-4 form-group">
					<span class="texto-retro3">Email </span>
					<br>
					<span class="texto-retro4" th:text="${novoUsuarioRequest.username}"></span>
				</div>
				
				<div class="mt-4 form-group">
					<span class="texto-retro3">Cargo </span>
					<br>
					<span class="texto-retro4" th:text="${novoUsuarioRequest.cargo}"></span>
				</div>
			</div>
			
			<div class="mt-2 mb-2 texto-login">
				<a href="/login">
					<button class="mt-4 Entrar">Logar</button>
				</a>	
			</div>
			
		</div>
	</div>
	
</body>
</html>