<html>
	<head th:replace="~{base :: head}"></head>
	<body class="fundo">
		<div th:replace="~{base :: logo}"></div>
				
		<div class="container mt-4">
		
			<div class="jumbotron mb-0 center">
				<h1 class="titulo2">Notas Disponíveis</h1>
			</div>
			
			<div class="card mb-3 mt-4" th:each="nota : ${notas}">
				<div class="texto-retro3 card-header alert-dark" th:text="${nota.nomeProva}" style="background-color: #E6567A">Prova</div>
				<div class="card-body" style="background-color: #8657DB">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div class="texto-retro11">Avaliador</div> 
							<div class="mb-3">
								<input class="texto-retro10 form-control" th:value="${nota.nomeProfessor}" value="disciplina da prova" disabled/>
							</div>
							 
							<div class="texto-retro11">Nota Final</div> 
							<div class="mb-3">
								<input class="texto-retro10 form-control" th:value="${nota.nota}" value="disciplina da prova" disabled/>
							</div>
						</div>
					</div>
				</div>
			</div> 
			
		</div>
	</body>
</html>