<html>
	<head th:replace="~{base :: head}"></head>
	<body class="fundo">
		<div th:replace="~{base :: logo}"></div>
				
		<div class="container mt-4">
		
			<div class="jumbotron mb-0 center">
				<h1 class="titulo2">Provas Disponíveis</h1>
			</div>
			
			<div class="card mb-3 mt-4" th:each="prova : ${provas}">
				<div class="texto-retro3 card-header alert-dark" th:text="${prova.nome}" style="background-color: #11baac">Prova</div>
				<div class="card-body" style="background-color: #F25A70">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div class="texto-retro11">Disciplina</div> 
							<div class="mb-3">
								<input class="texto-retro10 form-control" th:value="${prova.disciplina}" value="disciplina da prova" disabled/>
							</div>
							 
							<div class="texto-retro11">Descricao</div>
							<div>
								<textarea class="texto-retro10 form-control" th:text="${prova.descricao}" disabled>descricao da prova</textarea>
							</div>
						</div>
					</div>
					<div class="botao-login">
						<a th:href="@{'/prova' + '/' + 'formResponderProvaAberta' + '/' + ${prova.id}}"><button class="Entrar mt-3">Realizar Prova</button></a>
					</div>
				</div>
			</div> 
			
		</div>
	</body>
</html>