<!DOCTYPE html>
<html>

<head th:replace="~{base :: head}"/>

<body class="fundo">
	<div th:replace="~{base :: logo}"></div>
	
	<div class="container mt-5" >
		<div class="card mb-3 mt-3" style="background-color: #F25A70">
			
				<div class="mt-2 texto-login">
					<button class="mt-4 Sucesso">Prova respondida e enviada com sucesso!</button>
				</div>
				
				<div class="card-body">
					<div class="texto-login mt-4 form-group">
						<span class="texto-retro5">Aguarde a correção por parte do professor.</span>
					</div>
				</div>
		</div>
	</div>
	
</body>
</html>